#ranking {
	
}

.game_listing {
	margin: 0.3125em auto;
	max-width: 56.25em;
	height: 2.8125em;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
}

.game_listing img {
	width: 7.5em;
	flex-shrink: 0;
}

/*Potential hack*/
.owned {
	position: relative;
}

/*Replace with Steam's owned and wishlist icons*/
.owned::before {
	content: "";
	position: absolute;
	width: 1em;
	height: 1em;
	top: 0.3em;
	left: 6.25em;
	background: rgba(0, 192, 0, 0.8);
	border-radius: 0.3em;
}

.game_ranking {
	margin: auto 0.15em;
	font-size: 2em;
}

.game_title_tags {
	margin: auto 0;
	flex-grow: 1;
	min-width: 0;
}

.game_title {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.game_tags {
	height: 1.25em;
	display: block;
	overflow: hidden;
}

.game_tags span {
	white-space: nowrap;
	font-size: 0.7em;
	border-radius: 0.2em;
	padding: 0.1em 0.3em;
	background-color: rgba(103, 193, 245, 0.2);
	color: #67c1f5;
}

.game_release_platforms {
	margin: auto 0;
	width: 5em;
	text-align: center;
	flex-shrink: 0;
}

.game_release {
	color: #5c9ccc;
	font-size: 0.75em;
	display: block;
}

.game_platforms {
	display: block;
}

.game_platforms span {
	vertical-align: middle;
	background-size: cover;
	opacity: 0.3;
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
}

.win_icon {
	background-image: url("http://store.akamai.steamstatic.com/public/images/v6/icon_platform_win.png?v=3");
}

.mac_icon {
	background-image: url("http://store.akamai.steamstatic.com/public/images/v6/icon_platform_mac.png");
}

.linux_icon {
	background-image: url("http://store.akamai.steamstatic.com/public/images/v6/icon_platform_linux.png");
}

.game_score_reviews {
	margin: auto 0;
	width: 7em;
	display: inline-block;
	text-align: center;
	flex-shrink: 0;
}

.game_score {
	font-size: 0.75em;
	display: block;
}

.game_score span {
	font-weight: bold;
	font-size: 1.5em;
}

.game_reviews {
	display: inline-block;
	font-size: 0.75em;
}

/* ------------------------ */

.page_selector {
	text-align: center;
	min-width: 31.25em;
	margin: 0.5em auto;
}

.page_selector a {
	color: #67c1f5;
	padding: 0 0.3em;
}

.page_selector span {
	padding: 0 0.3em;
}

a.page_button {
	background-color: rgba(103, 193, 245, 0.2);
	padding: 0 1em;
	border-radius: 0.3125em;
}
