body {
	font-family: sans-serif;
	color: #c6d4df;
	background: #1B2838 url("/images/background.jpg") no-repeat fixed center top;
	background-size: cover;
	margin: 0;
	min-width: 31.25em;
}

a {
	text-decoration: none;
	color: #c6d4df;
}

/* ------------------------ */

.header {
	padding: 1em 0;
	text-align: center;
	background-color: #171a21;
	position: relative;
}

.title {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 3em;
	padding: 0 1em;
}

/* ------------------------ */

.right_corner {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
}

#login_button {
	padding: 0;
	border: 0;
	border-radius: 100%;
	font-size: 1em;
}

#login_button img {
	vertical-align: bottom;
	width: 9.625em;
	height: 1.4375em;
}

#logout img {
	width: 2em;
	height: 2em;
	border: 0.125em solid #4887A0;
	border-radius: 0.2em;
}

.dropdown {
	background-color: #171a21;
	width: 5em;
	box-shadow: 0 0 0.75em #000000;
	position: absolute;
	right: 0;
	z-index: 1;
	display: none;
}

.dropdown a {
	display: block;
	padding: 0.3em 0.75em;
}

.dropdown a:hover {
	background-color: #373D44;
	color: #ffffff;
}

#logout:hover .dropdown {
	display: block;
}

/* ------------------------ */

.footer {
	padding: 1em 0;
	text-align: center;
	background-color: #171a21;
}

.footer a {
	text-decoration: underline;
}
