body {
	font-family: sans-serif;
	color: #c6d4df;
	background: #1B2838 url("/images/background.jpg") no-repeat fixed center top;
	background-size: cover;
	margin: 0
}

a {
	text-decoration: none;
	color: #c6d4df;
}

.header {
	text-align: center;
	background-color: #171a21;
}

.footer {
	padding: 1em;
	text-align: center;
	background-color: #171a21;
}

.title {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 3em;
}

.navigation_bar {
	background-color: #171a21;
	padding: 0.5em;
}

.navigation_bar a {
	text-align: center;
	margin: 1em;
}

.right_corner {
	position: absolute;
	right: 0.5em;
	top: 0;
}
